.answers{
    color: rgb(255, 255, 255);
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    display: flex;
    padding: 20px;
    width: 250px;
    position: relative;
    margin: 10px;

}
.answers:hover{
 scale: 103%;
background-color: #5d5d5d;
cursor: pointer;
}


.answersflex{
  display: flex;
}

  .backgroundvideo{
position:fixed;

  }
  
  .questions{
    color: black;
    font-weight: bolder;
    margin: 20px;
    font-size: x-large;
  
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  .qtimage{
    display: flex;
    width: 350px;
    height: auto;
  margin-left: 150px;
  margin-right: 150px;
 float: inline-start;
object-fit: fill;
border-width: 5px;
border-radius: 15px;
display: flex;
  }

  .prevnext{
    display: flex;
    margin: 10px;
    position:initial;
    justify-content: space-between;
    width: 100%;

  }

  .prevnext Button{
    margin: 20px;
    width: 120px;
    background-color: rgb(15, 15, 128);
    position:initial;


  }
  .prevnext Button:hover{
    margin: 20px;
    width: 120px;
    background-color: rgb(57, 57, 232);
  }
  .submitbtn{
    position:relative;

    display: flex;
    margin: 20px;
    
  }

  .Container{
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 700px;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    margin-top: 50px;
    border-radius: 15px;

  }
  /* Method 1: */
  .contaiiner-xl {
  max-width: 100vw;
  height:min-content;
     display: flex;
     justify-content: center;
     overflow: hidden;
  
    }
    .post {
      width: 385px;
      margin: 0px 25px 40px 25px;
      
      background-color: aliceblue;
    }
    
    .post:hover{
     
    transform: scale(1.05);
      
    }
  
    .post {
      transition: transform .35s ease;
    }
  
    .postImg {
      width: 100%;
      height: 280px;
      object-fit: cover;
      border-radius: 7px;
    }
  
    .postImg:hover {
      width: 100%;
      height: 280px;
      object-fit: cover;
      border-radius: 7px;
      cursor: pointer;
    }
    
    .postInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .postCat {
      font-family: "Varela Round", sans-serif;
      font-size: 11px;
      color: #be9656;
      line-height: 20px;
      margin-top: 15px;
      margin-right: 10px;
      cursor: pointer;
    }
    
    .postTitle {
      font-family: "Josefin Sans", sans-serif;
      font-size: 24px;
      font-weight: 700;
      margin-top: 15px;
      cursor: pointer;
    }
    
    .postDate {
      font-family: "Lora", serif;
      font-style: italic;
      font-size: 13px;
      color: #999;
      margin-top: 15px;
    }
    
    .postDesc {
      font-family: "Varela Round", sans-serif;
      font-size: 14px;
      color: #444;
      line-height: 24px;
      margin-top: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
  
    .posts{
      flex: 9;
      display: flex;
      flex-wrap: wrap;
      margin: 20px;
  }
  
  /* /////////////////////////////////////////////////////// */
  .write {
      padding-top: 50px;
    }
    
    .writeImg {
      margin-left: 150px;
      width: 70vw;
      height: 250px;
      border-radius: 10px;
      object-fit: cover;
    }
    
    .writeForm {
      position: relative;
    }
    
    .writeFormGroup {
      margin-left: 1px;
     
      
    }
    
    .catcontainer{
      
      height: auto;
      margin: 20px;
    }
    .catlabel{
      font-size: large;
      font-weight: bold;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: rgb(160, 156, 156);
      display: flex;
      margin-left: 20px;
      margin-top: 20px;
    }
    
    .selectcat{
      width: 200px;
      height: 40px;
      background-color: rgb(180, 180, 197);
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      color: white;
      font-weight: bold;
    }
    
    .selectcat:hover{
    width: 206px;
    height: 45px;
     
    }
    
    
    
    .writeIcon {font-size: larger;
      color: rgb(125, 125, 125);
      cursor: pointer;
      margin: 20px;
    }
    
    .writeIcon:hover {font-size:xx-large;
      color: rgb(96, 96, 96);
      cursor: pointer;
    }
    
    .writeInput {
      font-size: 30px;
      border: none;
      padding: 20px;
      width: 70vw;
    }
    
    .writeInput:focus {
      outline: none;
    }
    
    .writeText {
      font-size: 20px;
      height: 100vh;
    }
    
    .writeSubmit {
      position: absolute;
      top: 20px;
      right: 50px;
      color: white;
      background-color: teal;
      padding: 10px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 16px;
    }